# FairGBM example on the UCI Adult dataset

In [1]:
from pathlib import Path
import pandas as pd
import numpy as np

## Download dataset

In [2]:
!pip install wget

Looking in indexes: https://pypi.org/simple, https://andre.cruz-pypi:****@gitlab.feedzai.com/api/v4/projects/2370/packages/pypi/simple
Requirement already satisfied: wget in /home/andre.cruz/miniconda3/envs/fairgbm-experimental/lib/python3.9/site-packages (3.2)

In [3]:
import wget

In [4]:
base_url = "https://archive.ics.uci.edu/ml/machine-learning-databases/adult/"
train_url = base_url + "adult.data"
test_url = base_url + "adult.test"

In [5]:
data_dir = Path("data")
data_dir.mkdir(exist_ok=True)

train_path = wget.download(train_url, str(data_dir))
test_path = wget.download(test_url, str(data_dir))

100% [..........................................................................] 2003153 / 2003153

In [6]:
train_data = pd.read_csv(train_path)
test_data = pd.read_csv(test_path)

In [7]:
train_data

,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
0,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
1,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
2,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
3,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
4,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32555,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32556,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32557,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32558,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32559,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K